@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero -->

<section class="hero">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 pb-4">
                <img alt="Bell Logo" src="~/img/logo.png">
            </div>
        </div>

        <div class="col-md-12">
            <h1>
               Get Together 2021
            </h1>

            <p class="tagline">
              Let's' make it happen once more. Bring back all the memories and spend a day of Joy!
            </p>
            <a class="btn btn-full" asp-action="RvspForm" asp-controller="Home">Response Now</a>
        </div>
    </div>

</section>
<!-- /Hero -->
